.footer{
    color: #000;
    /* background-color: rgba(223, 153, 47, 0.9); */
}
.footer a{
    color: #fff;
}
.important-list li{
    list-style-type: none;
}
.service-list li:nth-child(1), .important-list li:nth-child(1){
    font-weight: bold;
}
.btn-footer{
    color: #fff;
    background-color: #dc3545;
}